<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Easy Kanban - A Simple Kanban Task Management</title>
  </head>
  <body>
    <h1>Easy Kanban</h1>
  </body>
</html>
